.sidebar {
  width: 28px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0px;
}
.wide {
  width: 240px;
  height: 100%;
}
.active {
  background-color: rgba(135, 131, 120, 0.3);
}
